OPENAI_API_KEY=your_openai_api_key_here
SCREENER_EMAIL=shahvidit324@gmail.com
SCREENER_PASSWORD=M_hxwr*b2WEL-nH
SCREENER_URL=https://www.screener.in/screens/3776183/pratik-bohra/
DB_PATH=database/pbeip.db
DATA_PATH=data
LOG_LEVEL=INFO
